body{
    background-color: #F2F9FF;
    margin: 0px;
    font-family: sans-serif;
}

#headerUGB{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px;
    background-color: #2973B2;
    padding-right: 50px;
    height: auto;
}

#headerUGB h1{
    color: white;
    font-size: 12;
    text-align: center;
}

#logoUGBimg{
    width: 200px;
    height: 103.28px;
}

#listadoHeader{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    text-align: right;

}


.MainDiv{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.MainDiv img{
    border-radius: 5px;
    border: solid gray 2.5px;
}

.rightMainDiv{
    font-family: sans-serif;
}

#cuerpoDiv{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.sectionRight{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    align-items:center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
    border-left: 15%;
    border-right: 15%;
    background-color: #FFCCE1;

}

.sectionRight img{
    border-radius: 10px;
    height: 190px;
    width: 290px;
    border: solid #F2F9FF 4px;
}



.sectionLeft{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    align-items:center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-around;
    border-left: 20%;
    border-right: 20%;
    background-color:#E195AB;



}

.sectionLeft img{
    border-radius: 10px;
    height: 190px;
    width: 290px;
    border: solid #F2F9FF 4px;

}





#footerUGB{
    background-color: #2973B2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#footerUGB ul{
    color: white;
    list-style: none;
    text-align: center;
    
}

